<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <i>What now</i>
    <main class="main">
        {{- block "main" . }}{{ end }}
<table class="greeny-box">
    <h1>h1 for baseof.html</h1>
    Static content across the baseof.html page
    <strong>How about a strong div</strong>
    
    <thead>
        <tr>
            <th>
                Let the wind show you the way<br/>
                I feel that my lonesome is shared <br/>
                So am i really alone? <br/>
                There by the Sunset, coursing it's way in<br/>
                 the horizon
            </th>
        </tr>
    </thead>
</tbody>
</table>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}        
</body>
</html>